.App {
  text-align: center;
}

.main-block {
  display: flex;
  justify-content: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.main-block th, td {
  padding: 10px 20px;
  text-align: center;
}

.table-block caption {
  padding: 10px;
}

.table-block__tr-header th {
  background-color: #b7d5ec;
}

.table-block__btn-delete {
  cursor: pointer;
}

.table-block__input {
  text-align: center;
  border: none;
  padding: 5px;
  width: 100%;
}

.table-block__input-add {
  text-align: center;
  padding: 5px;
}

.table-block__btn-add {
  cursor: pointer;
}

.update {
  cursor: pointer;
}
